body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e2e8eb;
}

.navbar-custom {
    background-color: #3498db; /* Color personalizado para el navbar */
}

.nav-item:hover {
    background-color: #2973a5; /* Color más oscuro en hover */
    border-color: #3498db;
}

.btn-custom {
    background-color: #3498db; /* Color personalizado para los botones */
    border-color: #3498db;
    color: white;
}

.btn-custom:hover {
    background-color: #2973a5; /* Color más oscuro en hover */
    border-color: #3498db;
}

.hero-section h1 {
    padding: 30px;
    font-size: 55px;
    font-style: italic;
    font-weight: 400;
    background-color: rgba(60, 60, 63, 0.2);
    border-radius: 55px;
}

.container {
    padding: 20px;
    border-radius: 8px;
    
}

.card {
    border: none;
    box-shadow: 0px 20px 20px -1px #2973a5;
}

.text-center {
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.hero-section {
    background-image: url('../img/doctores.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: center;
    color: rgb(249, 249, 250);
    letter-spacing: 1px;
}
.container-sec{
    
        max-width: 900px;
        margin: 0 auto;
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    
    width: 100%;
    background-color: #3498db; /* Color personalizado para los botones */
    border-color: #3498db;
    color: white;
}

.btn_primary:hover {
    background-color: #2973a5; /* Color más oscuro en hover */
    border-color: #3498db;
}


